@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --animate-scroll: scroll 10s linear infinite;
  --animate-scroll-reverse: scroll-reverse 10s linear infinite;
  @keyframes scroll {
    0% {
      transform: translateX(100vw);
    }
    ,
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll-reverse {
    0% {
      transform: translateX(-100%);
    }
    ,
    100% {
      transform: translateX(100vw);
    }
  }

  /*For Light mode */
  /* Primary */
  --color-lm-primary: #2563eb;
  --color-lm-primary-hover: #1d4ed8;
  --color-lm-primary-focus: #1e40af;

  /* Accent */
  --color-lm-accent: #f59e0b;
  --color-lm-accent-hover: #d97706;
  --color-lm-accent-focus: #b45309;

  /* Success */
  --color-lm-success: #10b981;
  --color-lm-success-hover: #059669;
  --color-lm-success-focus: #047857;

  /* Neutral */
  --color-lm-text-primary: #1f2937;
  --color-lm-text-secondary: #4b5563;
  --color-lm-background: #f9fafb;
  --color-lm-surface: #ffffff;
  --color-lm-border: #e5e7eb;

  /*For Dark mode */
  /* Primary */
  --color-dm-primary: #3b82f6;
  --color-dm-primary-hover: #60a5fa;
  --color-dm-primary-focus: #93c5fd;

  /* Accent */
  --color-dm-accent: #fbbf24;
  --color-dm-accent-hover: #fcd34d;
  --color-dm-accent-focus: #fde68a;

  /* Success */
  --color-dm-success: #34d399;
  --color-dm-success-hover: #6ee7b7;
  --color-dm-success-focus: #a7f3d0;

  /* Neutral */
  --color-dm-text-primary: #f9fafb;
  --color-dm-text-secondary: #d1d5db;
  --color-dm-background: #111827;
  --color-dm-surface: #1f2937;
  --color-dm-border: #374151;
}

.login-btn {
  @apply px-2 py-1 active:scale-95 cursor-pointer transition-all rounded-l-md duration-150 join-item bg-lm-primary dark:bg-dm-primary hover:bg-lm-primary-hover dark:hover:bg-dm-primary-hover focus:bg-lm-primary-focus dark:focus:bg-dm-primary-focus text-white text-sm sm:text-base;
}
.register-btn {
  @apply px-2 py-1 active:scale-95 cursor-pointer transition-all rounded-r-md duration-150 join-item bg-lm-accent dark:bg-dm-accent hover:bg-lm-accent-hover dark:hover:bg-dm-accent-hover focus:bg-dm-accent-focus dark:focus:bg-dm-primary-focus text-black text-sm sm:text-base;
}
.social-login-btn {
  @apply flex-1 flex items-center justify-center gap-2 rounded-md py-2 cursor-pointer border border-gray-400 dark:border-dm-border text-lm-text-primary dark:text-dm-text-primary bg-transparent transition-all hover:bg-gray-200 hover:border-gray-500 hover:shadow-md dark:hover:bg-dm-surface dark:hover:border-dm-primary-hover dark:hover:shadow-lg;
}

/* swiper custom styling */
.swiper-button-next,
.swiper-button-prev {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}

.swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}