@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --animate-scroll: scroll 10s linear infinite;
  --animate-scroll-reverse: scroll-reverse 10s linear infinite;
  @keyframes scroll {
    0% {
      transform: translateX(100vw);
    }
    ,
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll-reverse {
    0% {
      transform: translateX(-100%);
    }
    ,
    100% {
      transform: translateX(100vw);
    }
  }

  /* For Light Mode */
/* Primary */
--color-lm-primary: #3f51b5;
--color-lm-primary-hover: #303f9f;
--color-lm-primary-focus: #1a237e;

/* Accent */
--color-lm-accent: #ff7043;
--color-lm-accent-hover: #f4511e;
--color-lm-accent-focus: #bf360c;

/* Success */
--color-lm-success: #26a69a;
--color-lm-success-hover: #1e857d;
--color-lm-success-focus: #16635e;

/* Neutral */
--color-lm-text-primary: #212121;
--color-lm-text-secondary: #616161;
--color-lm-background: #fefefe;
--color-lm-surface: #ffffff;
--color-lm-border: #e0e0e0;


/* For Dark Mode */
/* Primary */
--color-dm-primary: #64b5f6;
--color-dm-primary-hover: #42a5f5;
--color-dm-primary-focus: #90caf9;

/* Accent */
--color-dm-accent: #ff8a65;
--color-dm-accent-hover: #ff7043;
--color-dm-accent-focus: #ff5722;

/* Success */
--color-dm-success: #4db6ac;
--color-dm-success-hover: #26a69a;
--color-dm-success-focus: #00796b;

/* Neutral */
--color-dm-text-primary: #f5f5f5;
--color-dm-text-secondary: #bdbdbd;
--color-dm-background: #121212;
--color-dm-surface: #1e1e1e;
--color-dm-border: #2c2c2c;
}

.login-btn {
  @apply px-2 py-1 active:scale-95 cursor-pointer transition-all rounded-l-md duration-150 join-item bg-lm-primary dark:bg-dm-primary hover:bg-lm-primary-hover dark:hover:bg-dm-primary-hover focus:bg-lm-primary-focus dark:focus:bg-dm-primary-focus text-white text-sm sm:text-base;
}
.register-btn {
  @apply px-2 py-1 active:scale-95 cursor-pointer transition-all rounded-r-md duration-150 join-item bg-lm-accent dark:bg-dm-accent hover:bg-lm-accent-hover dark:hover:bg-dm-accent-hover focus:bg-dm-accent-focus dark:focus:bg-dm-primary-focus text-black text-sm sm:text-base;
}
.social-login-btn {
  @apply flex-1 flex items-center justify-center gap-2 rounded-md py-2 cursor-pointer border border-gray-400 dark:border-dm-border text-lm-text-primary dark:text-dm-text-primary bg-transparent transition-all hover:bg-gray-200 hover:border-gray-500 hover:shadow-md dark:hover:bg-dm-surface dark:hover:border-dm-primary-hover dark:hover:shadow-lg;
}

/* swiper custom styling */
.swiper-button-next,
.swiper-button-prev {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}

.swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}