@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --animate-scroll: scroll 10s linear infinite;
  --animate-scroll-reverse: scroll-reverse 10s linear infinite;
  @keyframes scroll {
    0% {
      transform: translateX(100vw);
    }
    ,
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll-reverse {
    0% {
      transform: translateX(-100%);
    }
    ,
    100% {
      transform: translateX(100vw);
    }
  }

  /* Light Mode */
  --color-lm-primary: #009688;
  --color-lm-primary-hover: #00796b;
  --color-lm-primary-focus: #004d40;
  --color-lm-accent: #ff8c00;
  --color-lm-accent-hover: #fb8c00;
  --color-lm-accent-focus: #ef6c00;
  --color-lm-success: #66bb6a;
  --color-lm-success-hover: #43a047;
  --color-lm-success-focus: #2e7d32;
  --color-lm-text-primary: #212121;
  --color-lm-text-secondary: #616161;
  --color-lm-background: #fefefe;
  --color-lm-surface: #ffffff;
  --color-lm-border: #e0e0e0;

  /* Dark Mode */
  --color-dm-primary: #26a69a;
  --color-dm-primary-hover: #1e857d;
  --color-dm-primary-focus: #004d40;
  --color-dm-accent: #ffb74d;
  --color-dm-accent-hover: #ffa726;
  --color-dm-accent-focus: #fb8c00;
  --color-dm-success: #81c784;
  --color-dm-success-hover: #66bb6a;
  --color-dm-success-focus: #388e3c;
  --color-dm-text-primary: #e0e0e0;
  --color-dm-text-secondary: #9e9e9e;
  --color-dm-background: #0f1115;
  --color-dm-surface: #1c1f26;
  --color-dm-border: #2a2d34;
}

.login-btn {
  @apply px-2 py-1 active:scale-95 cursor-pointer transition-all rounded-l-md duration-150 join-item bg-lm-primary dark:bg-dm-primary hover:bg-lm-primary-hover dark:hover:bg-dm-primary-hover focus:bg-lm-primary-focus dark:focus:bg-dm-primary-focus text-white text-sm sm:text-base;
}
.register-btn {
  @apply px-2 py-1 active:scale-95 cursor-pointer transition-all rounded-r-md duration-150 join-item bg-lm-accent dark:bg-dm-accent hover:bg-lm-accent-hover dark:hover:bg-dm-accent-hover focus:bg-dm-accent-focus dark:focus:bg-dm-primary-focus text-black text-sm sm:text-base;
}
.social-login-btn {
  @apply flex-1 flex items-center justify-center gap-2 rounded-md py-2 cursor-pointer border border-gray-400 dark:border-dm-border text-lm-text-primary dark:text-dm-text-primary bg-transparent transition-all hover:bg-gray-200 hover:border-gray-500 hover:shadow-md dark:hover:bg-dm-surface dark:hover:border-dm-primary-hover dark:hover:shadow-lg;
}

/* swiper custom styling */
.swiper-button-next,
.swiper-button-prev {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
}

.swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
